.content {
    margin-inline: inherit;

    @media screen and (min-width:769px) {

        margin-inline: 4rem;
    }

    @media screen and (min-width:1024px) {
        width: 800px;
        margin-inline: auto;
    }

    @media screen and (min-width:1280px) {
        width: 1024px;
    }

    @media screen and (min-width:1440px) {
        width: 950px;
    }

    &.about {
        @media screen and (min-width:1300px) {
            padding-left: 100px;
        }
    }

    &.exp {
        @media screen and (min-width:1300px) {
            padding-left: 200px;
        }
    }

}