@use '../../scss/global/colors'as *;

.button {
    background-color: transparent;
    outline: none;
    border: 0.5px solid $secondary;
    width: max-content;
    padding: .5rem 1rem;
    border-radius: 5px;
    color: $secondary;
    font-weight: 400;
    font-size: 13px;

    &:hover {
        cursor: pointer;
        background-color: $hover;
    }

    &.cta{
        font-size: 16px;
        padding: .7rem 1.2rem;
        @media screen and (min-width:769px) {
            font-size: 18px;
            padding: 1rem 1.4rem; 
        }
    }
    &.more{
        padding: 1rem 2rem;
       
    }
}