@use '../../scss/global/colors'as *;

.button {
    background-color: transparent;
    outline: none;
    border: 1.5px solid $secondary;
    width: max-content;
    padding: .5rem 1rem;
    border-radius: 5px;
    color: $secondary;
    font-weight: 100;
    font-size: 13px;

    &:hover {
        cursor: pointer;
        background-color: $hover;
    }
}