// VARIABLES
$base-bg: #ffffff;
$purple: #714dd9;
$purple-border: #714dd933;
$purple-light: #efebfb;
$burn: #f7941f;
$dark: #2f3339;
$gray: #f9f7ff;
$light: #fafafa;
$border: #44484d;
$light-blue: #e9f3f5;
$light-gray: #707070;
$dark-gray: #42464e;
$dark-gray-II: #333333;
$light-bg: #f7f8f9;
$border-alt: #d3d0d9;
$nav-bg: #714dd905;
$nav-blur: #f9f9f996;
$dark-charcoal: #333333;
$newsletter-bg: #efebfb;
$purple-gradient: linear-gradient(180deg, #ba68c8 0%, #5d21e6 100%);
$white-alt: #ffffff80;
$user-search-bg: #fbfaff;
$inactive: #d3d0d9;
$facebook: #3b5998;
$error: red;
