@use '../../scss/utils/fonts'as *;

.Footer {
    display: flex;
    flex-direction: column;

    .footerContent {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-bottom: 2rem;
        text-align: center;
    }

    .footerContent p {
        font-family: $fontAlt;
        font-size: 16px;
        font-weight: 500;
    }
}